/* Reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video { margin: 0; padding: 0; border: 0; font-size: 100%; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }

ol, ul { list-style: none; }

blockquote, q { quotes: none; }

blockquote:before, blockquote:after, q:before, q:after { content: ""; content: none; }

table { border-collapse: collapse; border-spacing: 0; }

html { font-size: 62.5%; }

.section_top_left { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: start; -webkit-box-pack: start; justify-content: flex-start; -ms-flex-line-pack: start; align-content: flex-start; -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; }

.section_top_center { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; -ms-flex-line-pack: start; align-content: flex-start; -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; }

.section_top_right { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; -ms-flex-line-pack: start; align-content: flex-start; -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; }

.section_top_justify { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; -ms-flex-line-pack: start; align-content: flex-start; -ms-flex-align: start; -webkit-box-align: start; align-items: flex-start; }

.section_middle_left { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: start; -webkit-box-pack: start; justify-content: flex-start; -ms-flex-line-pack: center; align-content: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }

.section_middle_center { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; -ms-flex-line-pack: center; align-content: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }

.section_middle_right { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; -ms-flex-line-pack: center; align-content: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }

.section_middle_justify { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; -ms-flex-line-pack: center; align-content: center; -ms-flex-align: center; -webkit-box-align: center; align-items: center; }

.section_bottom_left { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: start; -webkit-box-pack: start; justify-content: flex-start; -ms-flex-line-pack: end; align-content: flex-end; -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; }

.section_bottom_center { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: center; -webkit-box-pack: center; justify-content: center; -ms-flex-line-pack: end; align-content: flex-end; -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; }

.section_bottom_right { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: end; -webkit-box-pack: end; justify-content: flex-end; -ms-flex-line-pack: end; align-content: flex-end; -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; }

.section_bottom_justify { display: -ms-flexbox; display: -webkit-box; display: flex; -ms-flex-direction: row; -webkit-box-orient: horizontal; -webkit-box-direction: normal; flex-direction: row; -ms-flex-wrap: wrap; flex-wrap: wrap; -ms-flex-pack: justify; -webkit-box-pack: justify; justify-content: space-between; -ms-flex-line-pack: end; align-content: flex-end; -ms-flex-align: end; -webkit-box-align: end; align-items: flex-end; }

.align_center { text-align: center; }

.align_left { text-align: left; }

.align_right { text-align: right; }

.align_justify { text-align: justify; }

.full_min_h { min-height: 100vh; }

.full_h { height: 100vh; }

.w_0 { width: 0%; }

.w_1 { width: 1%; }

.w_2 { width: 2%; }

.w_3 { width: 3%; }

.w_4 { width: 4%; }

.w_5 { width: 5%; }

.w_6 { width: 6%; }

.w_7 { width: 7%; }

.w_8 { width: 8%; }

.w_9 { width: 9%; }

.w_10 { width: 10%; }

.w_11 { width: 11%; }

.w_12 { width: 12%; }

.w_13 { width: 13%; }

.w_14 { width: 14%; }

.w_15 { width: 15%; }

.w_16 { width: 16%; }

.w_17 { width: 17%; }

.w_18 { width: 18%; }

.w_19 { width: 19%; }

.w_20 { width: 20%; }

.w_21 { width: 21%; }

.w_22 { width: 22%; }

.w_23 { width: 23%; }

.w_24 { width: 24%; }

.w_25 { width: 25%; }

.w_26 { width: 26%; }

.w_27 { width: 27%; }

.w_28 { width: 28%; }

.w_29 { width: 29%; }

.w_30 { width: 30%; }

.w_31 { width: 31%; }

.w_32 { width: 32%; }

.w_33 { width: 33%; }

.w_34 { width: 34%; }

.w_35 { width: 35%; }

.w_36 { width: 36%; }

.w_37 { width: 37%; }

.w_38 { width: 38%; }

.w_39 { width: 39%; }

.w_40 { width: 40%; }

.w_41 { width: 41%; }

.w_42 { width: 42%; }

.w_43 { width: 43%; }

.w_44 { width: 44%; }

.w_45 { width: 45%; }

.w_46 { width: 46%; }

.w_47 { width: 47%; }

.w_48 { width: 48%; }

.w_49 { width: 49%; }

.w_50 { width: 50%; }

.w_51 { width: 51%; }

.w_52 { width: 52%; }

.w_53 { width: 53%; }

.w_54 { width: 54%; }

.w_55 { width: 55%; }

.w_56 { width: 56%; }

.w_57 { width: 57%; }

.w_58 { width: 58%; }

.w_59 { width: 59%; }

.w_60 { width: 60%; }

.w_61 { width: 61%; }

.w_62 { width: 62%; }

.w_63 { width: 63%; }

.w_64 { width: 64%; }

.w_65 { width: 65%; }

.w_66 { width: 66%; }

.w_67 { width: 67%; }

.w_68 { width: 68%; }

.w_69 { width: 69%; }

.w_70 { width: 70%; }

.w_71 { width: 71%; }

.w_72 { width: 72%; }

.w_73 { width: 73%; }

.w_74 { width: 74%; }

.w_75 { width: 75%; }

.w_76 { width: 76%; }

.w_77 { width: 77%; }

.w_78 { width: 78%; }

.w_79 { width: 79%; }

.w_80 { width: 80%; }

.w_81 { width: 81%; }

.w_82 { width: 82%; }

.w_83 { width: 83%; }

.w_84 { width: 84%; }

.w_85 { width: 85%; }

.w_86 { width: 86%; }

.w_87 { width: 87%; }

.w_88 { width: 88%; }

.w_89 { width: 89%; }

.w_90 { width: 90%; }

.w_91 { width: 91%; }

.w_92 { width: 92%; }

.w_93 { width: 93%; }

.w_94 { width: 94%; }

.w_95 { width: 95%; }

.w_96 { width: 96%; }

.w_97 { width: 97%; }

.w_98 { width: 98%; }

.w_99 { width: 99%; }

.w_100 { width: 100%; }

a { text-decoration: none; cursor: pointer; }

input, button, textarea, select { outline: -webkit-focus-ring-color auto 0px; font-family: arial; }

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="number"], select, textarea { border: 1px solid #dcdcdc; padding: 7px 8px; margin: 5px 0px; }
input[type="text"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="date"]::-webkit-input-placeholder, input[type="number"]::-webkit-input-placeholder, select::-webkit-input-placeholder, textarea::-webkit-input-placeholder { color: #dddddd; font-style: italic; }
input[type="text"]:-moz-placeholder, input[type="password"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="date"]:-moz-placeholder, input[type="number"]:-moz-placeholder, select:-moz-placeholder, textarea:-moz-placeholder { color: #dddddd; font-style: italic; }
input[type="text"]::-moz-placeholder, input[type="password"]::-moz-placeholder, input[type="email"]::-moz-placeholder, input[type="date"]::-moz-placeholder, input[type="number"]::-moz-placeholder, select::-moz-placeholder, textarea::-moz-placeholder { color: #dddddd; font-style: italic; }
input[type="text"]:-ms-input-placeholder, input[type="password"]:-ms-input-placeholder, input[type="email"]:-ms-input-placeholder, input[type="date"]:-ms-input-placeholder, input[type="number"]:-ms-input-placeholder, select:-ms-input-placeholder, textarea:-ms-input-placeholder { color: #dddddd; font-style: italic; }

.boton_defecto { -webkit-box-shadow: inset 0px 1px 0px 0px #FFFFFF; box-shadow: inset 0px 1px 0px 0px #FFFFFF; background-color: #ededed; border: 1px solid #dcdcdc; cursor: pointer; color: #DDDDDD; padding: 12px 24px; text-shadow: 0px 1px 0px #FFFFFF; margin: 5px 0; }

.boton_defecto:hover { background-color: #dfdfdf; }

.boton_defecto:disabled { background-color: #d5d5d5; cursor: default; }

.boton_azul { -webkit-box-shadow: inset 0px 1px 0px 0px #54a3f7; box-shadow: inset 0px 1px 0px 0px #54a3f7; background-color: #007dc1; border-radius: 3px; border: 1px solid #124d77; cursor: pointer; color: #FFFFFF; padding: 12px 24px; text-shadow: 0px 1px 0px #154682; margin: 5px 0; }

.boton_azul:hover { background-color: #0061a7; }

.boton_verde { -webkit-box-shadow: inset 0px 1px 0px 0px #a4e271; box-shadow: inset 0px 1px 0px 0px #a4e271; background-color: #89c403; border: 1px solid #74b807; cursor: pointer; color: #FFFFFF; padding: 12px 24px; text-shadow: 0px 1px 0px #528009; margin: 5px 0; }

.boton_verde:hover { background-color: #77a809; }

.boton_rojo { -webkit-box-shadow: inset 0px 1px 0px 0px #f5978e; box-shadow: inset 0px 1px 0px 0px #f5978e; background-color: #f24537; border: 1px solid #d02718; cursor: pointer; color: #FFFFFF; padding: 12px 24px; text-decoration: none; text-shadow: 0px 1px 0px #810e05; margin: 5px 0; }

.boton_rojo:hover { background-color: #c62d1f; }

.boton_defecto:active, .boton_azul:active, .boton_rojo:active, .boton_verde:active { position: relative; top: 1px; }

input, input:hover, a:hover, a, h1, h2, h3, h4, h5, h6, .boton_azul, .boton_azul:hover, .boton_rojo, .boton_rojo:hover, .boton_verde, .boton_verde:hover { -webkit-transition: all ease-in-out 0.4s; transition: all ease-in-out 0.4s; }

.hide { display: none; }

.overflow, .modal { position: fixed; background: rgba(0, 0, 0, 0.8); top: 0; bottom: 0; right: 0; left: 0; width: 100%; height: 100%; z-index: -1; opacity: 0; }

.modal { background: rgba(255, 255, 255, 0); }

@-webkit-keyframes fadeInModal { 0% { opacity: 0; }
  100% { opacity: 1; } }

@keyframes fadeInModal { 0% { opacity: 0; }
  100% { opacity: 1; } }
@-webkit-keyframes fadeOutModal { 0% { opacity: 1; }
  100% { opacity: 0; } }
@keyframes fadeOutModal { 0% { opacity: 1; }
  100% { opacity: 0; } }
.fadeInoverflow, .fadeInmodal { animation-name: fadeInModal; animation-duration: .6s; animation-iteration-count: 1; animation-timing-function: ease-in; animation-direction: normal; animation-fill-mode: forwards; -webkit-animation-name: fadeInModal; -webkit-animation-duration: .6s; -webkit-animation-iteration-count: 1; -webkit-animation-timing-function: ease-in; -webkit-animation-direction: normal; -webkit-animation-fill-mode: forwards; z-index: 9998; }

.fadeInmodal { animation-delay: .5s; -webkit-animation-delay: .5s; z-index: 9999; }

.fadeOutmodal, .fadeOutoverflow { animation-name: fadeOutModal; animation-duration: .6s; animation-iteration-count: 1; animation-timing-function: ease-out; animation-direction: normal; animation-fill-mode: forwards; -webkit-animation-name: fadeOutModal; -webkit-animation-duration: .6s; -webkit-animation-iteration-count: 1; -webkit-animation-timing-function: ease-out; -webkit-animation-direction: normal; -webkit-animation-fill-mode: forwards; z-index: -1; }

body { font-size: 1.6rem; }
