@keyframes fadeInModal
    0%
        opacity: 0
    100%
        opacity: 1


@keyframes fadeOutModal
    0%
        opacity: 1
    100%
        opacity: 0

.fadeInoverflow,
.fadeInmodal
    animation-name: fadeInModal
    animation-duration: .6s
    animation-iteration-count: 1
    animation-timing-function: ease-in
    animation-direction: normal
    animation-fill-mode: forwards

    -webkit-animation-name: fadeInModal
    -webkit-animation-duration: .6s
    -webkit-animation-iteration-count: 1
    -webkit-animation-timing-function: ease-in
    -webkit-animation-direction: normal
    -webkit-animation-fill-mode: forwards
    z-index: 9998

.fadeInmodal
    animation-delay: .5s
    -webkit-animation-delay: .5s
    z-index: 9999

.fadeOutmodal,
.fadeOutoverflow
    animation-name: fadeOutModal
    animation-duration: .6s
    animation-iteration-count: 1
    animation-timing-function: ease-out
    animation-direction: normal
    animation-fill-mode: forwards

    -webkit-animation-name: fadeOutModal
    -webkit-animation-duration: .6s
    -webkit-animation-iteration-count: 1
    -webkit-animation-timing-function: ease-out
    -webkit-animation-direction: normal
    -webkit-animation-fill-mode: forwards
    z-index: -1
