a,
a:hover
	@include transition
	text-decoration: none
	cursor: pointer

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="tel"],
select,
textarea,
button
	outline: 0
	font-family: $fuente_secundaria
	border: 1px solid $crema_color
	padding: 7px 8px
	@include placeholder-color(#dddddd, italic)
	margin: 5px 0px

	h1,
	h2,
	h3,
	h4,
	h5
		margin: 0
		padding: 0