a,
a:hover
	cursor: pointer
	text-decoration: none
	@include transition

input[type="text"],
input[type="password"],
input[type="email"],
input[type="date"],
input[type="number"],
input[type="tel"],
select,
textarea,
button
	border: 1px solid $crema_color
	font-family: $fuente_secundaria
	margin: 5px 0px
	outline: 0
	padding: 7px 8px
	@include placeholder-color(#dddddd, italic)
	@include transition

h1,
h2,
h3,
h4,
h5
	margin: 0
	padding: 0