@media all and (min-width: 1px)
  .full_min_h
    min-height: 100vh

  .full_h
    height: 100vh

  //Bucle para w_1 al w_100
  $class-slug: w !default
  @for $i from 0 through 100
    .#{$class-slug}_#{$i}
      width: 0% + $i

@media all and (min-width: 1025px)
  $class-slug: w_desktop !default
  @for $i from 0 through 100
    .#{$class-slug}_#{$i}
      width: 0% + $i